.mainLine{
    overflow: scroll;
}
.titleLine{
    overflow: scroll;
}

.commentsWall{
    width:cover;
    display: block;
    justify-content: center;
}

.commentBox{
    width: 98%;
    max-width: 900px;
    padding:16px 24px;
    min-height: 152px;
    background-color: #222222;
    border: dotted rgba(129, 251, 182, 0.354) 1px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
   
}


.bar{
    color: #aaa;
    width:auto;
    height: 24px;
    display: flex;
    justify-content: space-between;
   
}
.bar>div{
    display: flex;
    align-items: center;
}
.bar>div>div{
    margin: 2px;
}


.bar > div > i{
    padding: 0 8px;
    font-size: 18px;
    
}

#CommentID{
    padding: 3px;
    font-size: 12px;
    color:  #fbc308;;
}

.TKGusername{
    color: #34aadc; 
    /*GIRL COLOR #c0392b */
}



.CommentContent{
    max-width:100%;
    min-height: 90px;
    /* background-color: #fbc308; */
    height: fit-content;
    margin-top:10px;
    padding:10px 8px 0 8px;
    border-top:3px solid rgba(127, 255, 212, 0.093);
    /* box-shadow: 0px -2px 0.8px rgba(169, 255, 226, 0.194); */
}

.likePlace{
    width: 50px;
    height: 32px;
   background: rgba(71, 71, 71, 0.528);
   display: flex;
   justify-content: space-evenly;
   margin-right: 10px;
   align-items: center;
   border-radius: 5px;
   
}


.quoteArea{
    width: 60px;
    height: 32px;
   background: rgba(71, 71, 71, 0.528);
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 5px;
}


.likeDislike{
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: flex-start;
    padding:5px;
    padding-left:none;
    color: #aaa;
}

#reply > textarea{
    font-size:25px;
}

.ReplyBox{
    position: sticky;
    bottom: 0px;
    left: 2000px; 
    width: 520px;
    height: 720px;
    background: white;
    display: flex;
    flex-direction: column;
    background: #222222;
}

.ReplyBox > .ReplyTopic{
    display: flex;
    align-items: center;
}

.ReplyTopic{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    padding-left: 10px;
    font-size: 15.9px ;

}



.closePage{
    padding:12px;
}


.closePage2{
   width: 80px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.closePage2 > div{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fa-down-left-and-up-right-to-center{
    font-size: 22px;
}

.fa-xmark {
    font-size: 25px;
}


.FunctionsSoMany{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    

}
.FunctionsSoMany > div{
    width: 35px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.ReplyTextPlace{
    width:100%;
    min-height:450px;
    color:#191919;

}

#ReplyTextPlace1  {
   color: #fff ;
   
    
      }


.replySubmit{
    display: flex;
    justify-content: flex-end;
}
      
#ReplyTextPlace1{
    width:96%;
    height:540px;
    margin:2%;
    background: #191919;
    
}

.sumbitCol{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.submitBTN{
    margin-right:20px;
    border-radius: 5px;
    width:150px;
}
.fa-paper-plane{
    font-size: 20px;
    padding:10px;
    margin-right:10px;
    color: white;
}

#smallCommentBar{
    position: fixed;
    
}


.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
    z-index: 9999;
    
}

#uploadFiles{
    /* transition: all 1s; */
    width:400px;
    height:50%;
    background: #292827;
}

#closeUploadBox{
    display: flex;
    justify-content: flex-end;
}

#closeBar{
    display: flex;
    justify-content: space-between;
}

.closeBtn{
    padding:10px;
    margin-right:5px;
}

.uploadBox{
    height: 390px;
    
}

.uploadAreaOuter{
    display: flex;
    justify-content: center;
    width: 100%;
    height:90%;
    background-color: #292827;
    position: relative;
    
}

.uploadArea{
    position: relative;
    margin: 10px;
    border: 2px dotted grey;
    background-color: #202020;
    width: 100%;

}


.dragClickPhoto{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #selectUploadFile{
    cursor: pointer;
    opacity: 0;
    z-index: 99999;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
} */

.closeHeader{
    padding:10px;
    margin-left:10px;
}

.uploadText{
    
    color: gray;
    padding: 5px;
}

.photoBTN{

   margin:2px 15px ;
   width:150px;
}

#blah{
    max-width:380px;
    max-height:280px;
}


.hidden{
    opacity: 0;
}

.show{
    opacity: 1;
}


.emojiBox{
    
    position: absolute;
    top: 340px;
    width:100%;
    height:0px;
    background:#222222;
    transition: height 0.3s ;
    overflow:hidden;

}



.emojiArea{
    display: flex;
    justify-content: center;
    
}

.emojiBar{
    width: 100%;
    background:#222222;
    height: 32px;
    display: flex;
    align-items: flex-end;
    padding-left:10px;
    color: rgba(255, 255, 255, 0.292);
    
}

.emojiInBox{
    width: 96%;
    height: 250px;
    background-color: #191919;
    margin: 2%;
    font-size: 30px;
    padding: 10px;
    cursor: default;

}

.emojis:hover{
    background: #aaa;
    border-radius: 10%;
    cursor: pointer;
    padding:5px;
}



/* gifBox */
.gifBox{
    
    position: absolute;
    top: 340px;
    width:100%;
    height:0px;
    background:#222222;
    transition: height 0.3s ;
    overflow:hidden;

}



.gifArea{
    display: flex;
    justify-content: center;
    
}

.gifBar{
    width: 100%;
    background:#222222;
    height: 32px;
    display: flex;
    align-items: flex-end;
    padding-left:10px;
    color: rgba(255, 255, 255, 0.292);
    
}

.gifInBox{
    width: 96%;
    height: 250px;
    background-color: #191919;
    margin: 2%;
    font-size: 30px;
    padding: 10px;
    cursor: default;
    overflow: scroll;

}

.gifInBox > img{
    width:150px;
    
}

.gifs:hover{
    background: #aaa;
    border-radius: 10%;
    cursor: pointer;
    padding:5px;
}



