.time{
    font-size: 13px;
    padding-left: 15px;
}
.like{
    font-size: 20px;
    padding-right: 5px;
}
.bluecolor {
    color:#34aadc;
    font-weight: bolder;
    
}
.redcolor{
    color:#c0392b;
    font-weight: bolder;
}
.WOWso li{
    color:rgba(49, 255, 166, 0.717) !important;
    text-shadow: 0 0 7px rgba(185, 255, 232, 0.719);
    /* box-shadow: 0 0 15px rgba(171, 255, 227, 0.719); */
}
.textmm{
    letter-spacing:1.5px !important;
}
.toppass{
    margin-top: 10px;
}
/* .pagenumber{
    background-color: #C0392B !important;
} */